.outline{
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.fontSize48 {
  font-size: 3rem;
}

.fontSize32 {
  font-size: 2rem;
}

.fontSize24 {
  font-size: 1.5rem;
}

.fontSize18 {
  font-size: 1.125rem;
}

.topAndBottomMargin {
  margin: 15px 0px;
}

.leftAndRightPadding {
  padding: 0px 15px;
}

.topAndBottomPadding {
  padding: 15px 0px;
}

.smallTopAndBottomPadding {
  padding: 5px 0px;
}

.fullPadding {
  padding: 15px 15px;
}

.blueText {
  color: #054ada;
}

.centreAlignment {
  vertical-align: middle;
  text-align: center;
}

.captureButton {
  font-size: 1.65rem;
}

.header {
  padding-top: 10px;
  background-color: #3d3d3d;
  color: #fffffa;
}

.subHeader {
  padding-top: 10px;
  background-color: #dcdcdc;
}

.blueBorder {
  border: 2px solid #054ada; 
}

.datasetCreation {
  margin: 20px 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #dcdcdc;
  border: 2px solid #8c8c8c;
}

.footer {
  vertical-align: center;
  text-align: center;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: #3d3d3d;
}

.whiteText {
  color: #fffffa;
}

.iconsAndFooter {
  padding: 20px 0px;
}